*{
    box-sizing: border-box;
}

/* body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} */

.container-input{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: fff;
    flex-direction: column;
}

.Border-Radius{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: 25rem;
    height: 25rem;
}